* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  transform: rotate(-25deg); /* Ajusta a inclinação do caminho */
}

.box {
  position: relative;
  left: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 40rem);
  -webkit-box-reflect: below 0.1rem linear-gradient(transparent, #0009);
  animation: animateSurface 1.5s ease-in-out infinite;
}

@keyframes animateSurface {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-20rem);
  }
}

.cube {
  position: relative;
  width: 20rem;
  height: 20rem;
  background: #03e9f4;
  box-shadow: 0 0 0.5rem rgba(3, 233, 244, 1), 0 0 2.5rem rgba(3, 233, 244, 1),
    0 0 5rem rgba(3, 233, 244, 1), 0 0 10rem rgba(3, 233, 244, 0.5),
    0 0 20rem rgba(3, 233, 244, 0.5);

  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
  }
  65% {
    transform: rotate(86deg);
  }
  70% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(87.5deg);
  }
  80%,
  100% {
    transform: rotate(90deg);
  }
}
